<%- contentFor('layoutContent') %>
<h1><%= title %></h1>
<p>To join our club, you must know our secret password</p>
<div class="messageHolder">
<% if(user) { %>
  <div class="contentCard">
    <%
    if(errors && errors.length > 0)
    {
      if(errors.length > 1)
      {
      %>
      <div class="formError">Something happened:
        <ul>
          <% for(error of errors) { %>
            <li><%= error.msg %></li>  
          <% } %>
        </ul>
      </div>
      <%
      } else { %>
        <div class="formError"><%= errors[0].msg %></div>
      <%
      }
    } %>
    <form method="post" action="/join-membership">
      <div class="formGroup">
        <label for="secretPassword">Secret password</label>
        <input type="text" id="secretPassword" name="secret_password" placeholder="Input our secret password" required />
      </div>
      <div class="formButtons">
        <button type="submit" class="menuButton">Join</button>
      </div>
    </form>
  </div>
<% } %>
</div>